.s1 {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 37px;
  }

  h3, .social__own_news h3, .rates__menu .top_block_menu__content h3 {
    font-size: 38px;
  }

  h4 , .sidebar_menu li a{
    font-size: 24px;
  }

  h5, .rates .table-rate tbody tr td {
    font-size: 16px;
  }

  h6 {
    font-size: 26px;
  }
  p, .pdf {
    font-size: 23px;
  }

  ul {
    li {
      font-size: 24px;
    }
  }
  .logos__content {
    h1 {
      font-size: 3.5em;
    }
    p {
      font-size: 1.8em;
    }
    h3 {
      font-size: 3em;
    }
  }
  .info_content_and_link .title__section {
    font-size: 41px;
  }
  .featured-section__title {
    font-size: 1.8em;
  }
  .featured-section .post-featured__link p {
    font-size: 1.5em;
  }
  .header .banner__alert a{
    font-size: 20px;
  }
  button, .button, input[type='submit'], input[type='reset'],.rates__menu .top_block_menu__content a {
    font-size: 18px;
  }
  .social__own_news {
    p {
      font-size: 18px;
    }
  }
  .footer {
    .contact_info__title {
      font-size: 2.8em;
    }
    .footer__nav .title{
      font-size: 1.85em;
    }
    .footer__nav_form_container p{
      font-size: 1.4em;
    }
  }
  .top-bar .header-menu li > a{
    font-size: 0.8em;
    word-break: break-all;
    white-space: normal;
    height: auto;
  }
  .header_contact_info_content{
    a, p{
      font-size: 1.2em;
    }
  }
  .copyright {
    .copyright_left, .copyright_right {
      p{
        font-size: 1.2em;
      }
    }
  }
  .breadcrumb {
    a {
      font-size: 16px;
    }
    span {
      > span {
        font-size: 16px;
      }
    }
  }
}

.s2 {
  .breadcrumb {
    a {
      font-size: 18px;
    }
    span {
      > span {
        font-size: 18px;
      }
    }
  }
  .top-bar .header-menu li > a{
    font-size: 0.9em;
    word-break: break-all;
    height: auto;
    white-space: normal;
  }
  .header_contact_info_content{
    a, p{
      font-size: 1.4em;
    }
  }
  .copyright {
    .copyright_left, .copyright_right {
      p{
        font-size: 1.4em;
      }
    }
  }
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 41px;
  }

  h3, .social__own_news h3, .rates__menu .top_block_menu__content h3 {
    font-size: 40px;
  }

  h4, .sidebar_menu li a {
    font-size: 26px;
  }

  h5, .rates .table-rate tbody tr td {
    font-size: 18px;
  }

  h6 {
    font-size: 28px;
  }
  p, .pdf {
    font-size: 25px;
  }

  ul {
    li {
      font-size: 26px;
    }
  }
  .logos__content {
    h1 {
      font-size: 3.5em;
    }
    p {
      font-size: 2.1em;
    }
    h3 {
      font-size: 3.4em;
    }
  }
  .info_content_and_link .title__section {
    font-size: 44px;
  }
  .featured-section__title {
    font-size: 2.3em;
  }
  .featured-section .post-featured__link p {
    font-size: 1.75em;
  }
  .header .banner__alert a{
    font-size: 22px;
  }
  button, .button, input[type='submit'], input[type='reset'],.rates__menu .top_block_menu__content a  {
    font-size: 20px;
  }
  .footer {
    .contact_info__title {
      font-size: 3em;
    }
    .footer__nav .title{
      font-size: 2em;
    }
    .footer__nav_form_container p{
      font-size: 1.6em;
    }
  }
}

.s3 {
  .breadcrumb {
    a {
      font-size: 20px;
    }
    span {
      > span {
        font-size: 20px;
      }
    }
  }

  .header_contact_info_content{
    a, p{
      font-size: 1.6em;
    }
  }
  .top-bar .header-menu li > a{
    font-size: 0.95em;
    word-break: break-all;
    white-space: normal;
    height: auto;
  }
  .copyright {
    .copyright_left, .copyright_right {
      p{
        font-size: 1.6em;
      }
    }
  }
  h1 {
    font-size: 58px;
  }

  h2 {
    font-size: 45px;
  }

  h3, .social__own_news h3, .rates__menu .top_block_menu__content h3 {
    font-size: 42px;
  }

  h4, .sidebar_menu li a {
    font-size: 28px;
  }

  h5, .rates .table-rate tbody tr td {
    font-size: 20px;
  }

  h6 {
    font-size: 30px;
  }
  p, .pdf {
    font-size: 26px;
  }

  ul {
    li {
      font-size: 28px;
    }
  }
  .logos__content {
    h1 {
      font-size: 4.2em;
    }
    p {
      font-size: 2.5em;
    }
    h3 {
      font-size: 3.8em;
    }
  }
  .info_content_and_link .title__section {
    font-size: 47px;
  }
  .featured-section__title {
    font-size: 2.8em;
  }
  .featured-section .post-featured__link p {
    font-size: 2em;
  }
  .header .banner__alert a{
    font-size: 24px;
  }
  button, .button, input[type='submit'], input[type='reset'], .rates__menu .top_block_menu__content a {
    font-size: 22px;
  }
  .footer {
    .contact_info__title {
      font-size: 3.2em;
    }
    .footer__nav .title{
      font-size: 2.2em;
    }
    .footer__nav_form_container p{
      font-size: 1.8em;
    }
  }
}